html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.taskbar-container,
.taskbar-container * {
    height: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.taskbar-container {
}

.taskbar-container > * {
}
.taskbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a53be;
}

/*#app {*/
/*    height: 100vh;*/
/*}*/