@using System.Globalization
@inherits TaskbarAlternativeBlazor.Widgets.Common.WidgetComponentBase<ClockWidgetSettings>

@* <span class="clock">@((MarkupString)Date.ToString("HH:mm '<br/>' dd.mm.yyyy", CultureInfo.InvariantCulture))</span> *@
<span class="clock" @onclick="() => RestartService.Restart()">@((MarkupString)Date.ToString(Settings.Label, CultureInfo.InvariantCulture))</span>