@page "/"
@using TaskbarAlternativeBlazor.Widgets.ClockWidget

<div class="taskbar-inner">
    <div class="start-section">
    </div>

    <div class="apps-section">
        @foreach (var widget in Widgets)
        {
            <DynamicComponent Type="widget.Component" Parameters="widget.ComponentSettings" />
        }
    </div>

    <div class="tray-section">
    </div>
</div>

