@page "/"
@using TaskbarAlternativeBlazor.Widgets
@inject IRestartService RestartService
<div class="taskbar-inner">
    <div class="start-section">
    </div>

    <div class="apps-section">
        @foreach (var widget in Widgets)
        {
            <DynamicComponent Type="widget.Component" Parameters="widget.ComponentSettings" />
        }
    </div>

    <div class="tray-section">
        <button class="btn btn-link" @onclick="() => RestartService.Restart()">RESTART</button>
    </div>
</div>

